<app-header [showNav]="true" />

<div class="profile-container">

  <h1>Profil utilisateur</h1>

  <!-- Formulaire profil -->
  <form [formGroup]="profileForm" (ngSubmit)="onSave()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="username" />
      @if (profileForm.get('username')?.hasError('required')
      && profileForm.get('username')?.touched) {
      <mat-error>Le nom d'utilisateur est obligatoire</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Adresse e-mail</mat-label>
      <input matInput formControlName="email" />
      @if (profileForm.get('email')?.hasError('email')
      && profileForm.get('email')?.touched) {
      <mat-error>Email invalide</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="password" />
      @if (profileForm.get('password')?.hasError('pattern')) {
      <mat-error>
        8 caractères min, 1 majuscule, 1 minuscule,
        1 chiffre, 1 caractère spécial
      </mat-error>
      }
    </mat-form-field>

    @if (successMessage()) {
    <p class="success">{{ successMessage() }}</p>
    }

    @if (errorMessage()) {
    <p class="error">{{ errorMessage() }}</p>
    }

    <button mat-raised-button color="primary" type="submit"
      [disabled]="profileForm.invalid || isLoading() || !hasChanges()">
      @if (isLoading()) {
      Sauvegarder
      } @else {
      Sauvegarder
      }
    </button>

  </form>

  <mat-divider />

  <!-- Abonnements -->
  <section class="subscriptions-section">
    <h2>Abonnements</h2>

    @if (subscriptions().length > 0) {
    <div class="subscriptions-grid">
      @for (theme of subscriptions(); track theme.id) {
      <div class="subscription-card">
        <div class="sub-info">
          <h3>{{ theme.title }}</h3>
          <p>{{ theme.description }}</p>
        </div>
        <button mat-raised-button color="primary" (click)="unsubscribe(theme)">
          Se désabonner
        </button>
      </div>
      }
    </div>
    } @else {
    <p class="no-subs">Vous n'êtes abonné à aucun thème.</p>
    }
  </section>

</div>